<nav class="nav">
  <a
    class="link cursor-pointer"
    [routerLink]="['/backlog']"
    routerLinkActive="selected"
    i18n="@@backlog"
  >
    <mat-icon>list_alt</mat-icon>
    Backlog
  </a>
  <a
    class="link cursor-pointer"
    [routerLink]="['/board']"
    routerLinkActive="selected"
    i18n="@@board"
  >
    <mat-icon>view_kanban</mat-icon>
    Board
  </a>
  <a
    class="link cursor-pointer"
    [routerLink]="['/myTasks']"
    routerLinkActive="selected"
    i18n="@@board"
  >
    <mat-icon>person</mat-icon>
    MyTasks
  </a>
</nav>
