@let currentTask = task();

<div class="chat-header">
  <button type="button" class="btn-close cursor-pointer" (click)="closeChat()">
    <mat-icon>close</mat-icon>
  </button>
  <div class="chat-header-info">
    <span class="chat-header-text"> {{ currentTask?.text }} </span>
    <app-to-do-task-status-badge [status]="currentTask?.status ?? ''"></app-to-do-task-status-badge>
  </div>
</div>

<div class="chat-body">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">chat</mat-icon>
        Chat
      </ng-template>
      <div class="tab-content">
        <app-to-do-chat-messages [messages]="messages"></app-to-do-chat-messages>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">info</mat-icon>
        Info / Log
      </ng-template>
      <div class="tab-content">Content 2</div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">description</mat-icon>
      </ng-template>
      <div class="tab-content">{{ currentTask?.description }}</div>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="chat-footer">
  <div class="chat-input-area">
    <input
      class="chat-input"
      [(ngModel)]="userInput"
      placeholder="Сообщение..."
      (keyup.enter)="sendMessage()"
    />

    <button
      class="btn-send cursor-pointer"
      color="primary"
      (click)="sendMessage()"
      [disabled]="!userInput"
    >
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
