<app-to-do-header></app-to-do-header>

@if (isLoading()) {
  <div class="spinnerWrapper">
    <mat-spinner></mat-spinner>
  </div>
} @else {
  <div class="listWrapper">
    <ul class="list">
      @for (task of tasks(); track task.id) {
        <app-to-do-item
          [isSelected]="selectedItemId() === task.id"
          [text]="task.text"
          (click)="selectedItemId.set(task.id)"
          (delete)="deleteTask(task.id)"
          appTooltip="Показать описание"
        />
      }
    </ul>
    <div class="description">
      {{selectedDescriptionTask()}}
    </div>
  </div>
}

<div class="form">
  <div class="form-fields">
    <mat-form-field appearance="outline">
      <input class="input" matInput placeholder="Add your new todo" [(ngModel)]="inputValue" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <textarea
        class="textarea"
        matInput
        placeholder="Description"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        [(ngModel)]="textareaValue"
      ></textarea>
    </mat-form-field>
  </div>
  <app-to-do-button
    inputTitle="Add task"
    variant="add"
    [disabled]="isInputEmpty()"
    (clickBtn)="addTask()"
    appTooltip="Добавить задачу"
  />
</div>
