<app-to-do-header></app-to-do-header>

@if (isLoading()) {
  <div class="spinnerWrapper">
    <mat-spinner></mat-spinner>
  </div>
} @else {
  <div class="listWrapper">
    <ul class="list">
      @for (task of tasks(); track task.id) {
        <li
          appToDoItem
          tabindex="0"
          appTooltip="Показать описание"
          [isSelected]="selectedItemId() === task.id"
          [id]="task.id"
          [text]="task.text"
          (delete)="todoService.deleteTask(task.id)"
          (keydown.enter)="todoService.selectItem(task.id)"
          (keydown.space)="todoService.selectItem(task.id)"
          (click)="todoService.selectItem(task.id)"
        ></li>
      }
    </ul>
    <div class="description">
      {{selectedDescriptionTask()}}
    </div>
  </div>
}

<div class="form">
  <div class="form-fields">
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <input
        class="input"
        matInput
        placeholder="Add your new todo"
        [(ngModel)]="inputValue"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <textarea
        class="textarea"
        matInput
        placeholder="Description"
        subscriptSizing="dynamic"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        [(ngModel)]="textareaValue"
      ></textarea>
    </mat-form-field>
  </div>
  <button
    appToDoButton
    appTooltip="Добавить задачу"
    type="button"
    class="btn"
    variant="add"
    [disabled]="isInputEmpty()"
    (click)="addTask()"
  >
    Add task
  </button>
</div>
