<input app-checkbox class="cursor-pointer task-checkbox" type="checkbox" />

@let currentTask = task();

<div class="my-task-card">
  <div class="task-header">
    <div class="task-content">
      <div class="task-title">{{ currentTask.text }}</div>
      <div class="task-description">{{ currentTask.description }}</div>
    </div>

    <app-to-do-task-status-badge [status]="currentTask.status"> </app-to-do-task-status-badge>
  </div>

  <div class="task-footer">
    <div class="task-members">
      @for (member of members; track member.userId) {
        <app-to-do-user-avatar [imageUrl]="member.avatar" [name]="member.username" />
      }
    </div>
    <app-to-do-task-message-count></app-to-do-task-message-count>
  </div>
</div>

<mat-icon>arrow_forward_ios</mat-icon>
